/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #f2f3f7;
  color: #5d1a7e; 
  padding: 30px;
  position: relative;
}

/* Línea vertical izquierda */
header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background-color: #623d9e;
}

header img {
  border-radius: 50%;
  margin-bottom: 15px;
}


h1 {
  font-size: 2.8rem;
  color:  #5d1a7e;
  margin-bottom: 10px;
}

/* Navegación */
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #5d1a7e;
}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.section {
  padding: 20px;
  margin: 20px 40px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05); /* sombra suave */
}

/* Títulos secundarios */
h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #444;
  border-bottom: 2px solid hwb(264 44% 24%);
  display: inline-block;
  padding-bottom: 5px;
}

p {
  font-size: 1rem;
  color: #303030;
  margin-bottom: 10px;
}

#proyectos ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

article {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

article:hover {
  transform: translateY(-3px);
}

/* Enlaces (color diferente) */
a {
  color: #623d9e;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #f2f3f7;
  color: #777;
  padding: 20px;
  text-align: center;
}